.chat-list {
  display: flex;
  flex-direction: column;
}

li {
  align-self: flex-end;
  list-style: none;
  background: lightblue;
  border-radius: 10px;
  padding: 5px;
}

li.message-left {
  align-self: flex-start;
}
